<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <div class="login-logo">
      <ion-icon name="cart-outline"></ion-icon>
    </div>

    <h1 class="login-title">Iniciar Sesión</h1>

    <ion-list class="login-form">
      <ion-item lines="full">
        <ion-input label="Usuario" label-placement="stacked" value="admin"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input label="Contraseña" type="password" label-placement="stacked" value="123456"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" shape="round" class="login-button">Iniciar Sesión</ion-button>
    <p class="login-credentials">Usuario: admin | Contraseña: 123456</p>
  </div>
</ion-content>

